RealTimeTaskman/TaskmanClientApp/Connected Services/TaskServiceReference/TaskService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskItem" nillable="true" type="tns:TaskItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskItem" nillable="true" type="tns:ArrayOfTaskItem" />
  <xs:complexType name="TaskItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskItem" nillable="true" type="tns:TaskItem" />
</xs:schema>